{% load static %}
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eefbfd;
    --color-base: #16163a;
    --color-base2: #9a9679;
    --color-barand: #0ce538;
    --color-brand2: #36ef2c;
    --sidebar-width: 240px;
    --font-base: 'Bai jamjuree';
}


body {
    background-color: rgb(62, 62, 70);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    color: rgb(8, 238, 12);
    text-decoration: none;
    transition: all 0.4s ease;
}



img {
    width: 100%;
}

/* Navbar */

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 300px;
    border-bottom: #25093b;
}
.navbar {
    background-color: var(--color-base);
}

.offcanvas-body {
    background-color: var(--color-base);
}

.offcanvas-header {
    background-color: var(--color-base);
}

.navbar-nav,
.nav-item {
    color: aliceblue;
}

.navbar .nav-link {
    font-weight: 500;
    text-transform: uppercase;
    color: aliceblue;
    position: relative;
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #11ef08;
    transition: width 0.6s ease-in-out;
}

.navbar .nav-link:hover::after {
    width: 100%;
}

.navbar-nav .nav-item.active .nav-link {
    color: #08ee0c;
}
.name span {
    font-weight: bolder;
}

/* Navbar */
.footer {
    background-color:#16163a;
    color: #ffffff;
}

.footer p a {
    position: relative;
    text-decoration: none; /* Remove default underline */
}

.footer p a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background-color: #11ef08;
    transition: width 0.6s ease-in-out;
}

.footer p a:hover::after {
    width: 100%;
}
.text-line {

    position: relative;
    border: none;
    padding-bottom: 3px;
    border-top: 2px solid #f1de0d;
}

.footer i {
    color: #ffffff;
}


.footer .py-4 {
    padding: 0.5rem;
}

.
section{
    display: flex;
}

section.home {
    height: 90vh;

    /* Add other background properties if needed */
}


        .welcome-box {
           
            height: 20px;
            width: 300px;
            margin: 0 auto;
            padding: 20px;

            color: #ffffff;
        }
        .agro-farm-box {

            height: 100px;
            margin: 0px auto;
            text-align: center;
            padding-top: 30px;
            border-radius: 10px;
            color: #ffffff;
        }

/* ======================== */
.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}

#remember {
  accent-color: #fff;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: #efefef;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.box img {
  cursor: pointer;
  width: 9em;
}

   .image-container {
        position: relative;
        display: inline-block;
        overflow: hidden;
    }

    .image-name {
        position: absolute;
        background-color: rgba(64, 72, 65, 0.29);
        color: #fff;
        font-size: 20px; /* Adjust the font size as needed */
        padding: 10px; /* Adjust the padding as needed */
        border-radius: 5px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px; /* Adjust the distance from the bottom as needed */
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .image-container:hover .image-name {
        opacity: 1;
    }

    .image-container img {
        transition: transform 0.3s ease-in-out;
    }

    .image-container:hover img {
        transform: scale(1.1); /* Adjust the scale factor for desired zoom effect */
    }

    /* Custom CSS */
.mb-2 {
    margin-bottom: 1rem !important;
}

.mb-3 {
    margin-bottom: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.font-weight-bold {
    font-weight: bold;
}
