{% extends 'base1.html' %}
{% load static %}
{% block content %}
    <section id="Home" style="height: 90vh; background-image: url('{% static "images/home.png" %}'); background-repeat: no-repeat; background-position: center; background-size: cover;">

        <div class="container text-center" style="padding-top: 200px;">
            <div class="row justify-content-center">
                <div class="col-12 pt-4">
                    <div class="welcome-box">
                        <h3 class="pb-4">Welcome to</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="agro-farm-box">
                        <h1>Unity Agro Farm</h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <p>Thinking better quality making for the people...</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 mt-5">
                    <a href="#gallery" class="btn btn-primary btn-lg" role="button">
                        <i class="fas fa-angle-down mr-2"></i>Learn More
                    </a>
                </div>
            </div>
    </div>


    </section>

<section id="about" class="pt-5">
    <div class="container">
        <div class="h_about border-0 shadow mb-4">
            <div class="row g-0">
                <div class="col-md-7">
                    <div class="container pt-4">
                        <h2 class="card-title fw-bold text-primary mb-4" style="font-family: 'Arial', sans-serif; font-size: 28px; text-align: justify;">About Us</h2>
                        <p class="card-text" style="font-family: 'Arial', sans-serif; font-size: 18px; text-align: justify;">
                            ইউনিটি এগ্রো একটি কৃষি প্রতিষ্ঠান । এটি একটি উন্নত ফার্ম যেখানে মাছ চাষ এবং বিভিন্ন প্রকারের সবজি উৎপাদনের উদ্যোগের উপর ভিত্তি করে।
                            বিশ্বাস এগ্রো প্রতিষ্ঠানটির লক্ষ্য হলো প্রাকৃতিক উৎপাদনের সৃষ্টি করা এবং মানব সম্প্রদায়ের প্রধান খাবার সরবরাহ নিশ্চিত করা। ইউনিটি এগ্রো ফার্মটি
                            অনেক প্রযুক্তি এবং সৃজনশীলতার সাথে পরিপূর্ণ। মাছ চাষের জন্য আমরা সম্পূর্ণাঙ্গ প্রযুক্তিতে ব্যবস্থাপনা করি, যেখানে আমরা মডার্ন মেশিনারি এবং
                            উন্নত প্রযুক্তি ব্যবহার করি। এছাড়া, আমরা পরিবেশের সম্মত পদ্ধতিতে মাছ চাষ করার জন্য নির্দিষ্ট পরিবেশনা অনুসরণ করি। সবজি চাষের জন্য,
                            আমরা উন্নত কৃষি পদ্ধতিতে প্রতিষ্ঠান করেছি। আমাদের কৃষকদের প্রশিক্ষণ এবং সঠিক পরিচিতি উন্নত করা হয়েছে যাতে সঠিক উৎপাদনের জন্য প্রযুক্তি
                            ও প্রশিক্ষণ উপলব্ধ থাকে। ইউনিটি এগ্রোর প্রতিষ্ঠানের উদ্দেশ্য হলো একটি সুস্থ ও সাশ্রয়ী কৃষি প্রক্রিয়ার মাধ্যমে মানুষের প্রাথমিক প্রয়োজনীয় খাবার সরবরাহ করা।
                        </p>
                        <a href="{% url 'about' %}" class="btn btn-primary text-decoration-none mt-3" style="font-size: 20px;">Learn More</a>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4 ">
                    <div class="container">
                        <img src="{% static 'images/About_2 (1).png' %}" alt="About Us Image" class="img-fluid rounded-start" style="height: 400px; width: 600px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  <div class="container pt-4">
       <div class="row gy-4">
             <div class="col-md-4">
                <div class="d-flex justify-content-center align-items-center rounded shadow-lg" >
                    <div style="text-align: center; color: white;">
                        <a href="tel:01912497506" style="font-size: 30px; color: #11ef08;"><i class="las la-phone-volume"></i></a>
                        <h4 >CALL</h4>
                        <h6 class="mb-3" style="margin-bottom: 0;">01234567899</h6>
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                <div class="d-flex justify-content-center align-items-center rounded shadow-lg">
                    <div style="text-align: center; color: white;">
                        <a href="tel:01912497506" style="font-size: 30px; color: #11ef08;"><i class="las la-envelope-open"></i></a>
                        <h5 >EMAIL</h5>
                        <h6 class="mb-3" style="margin-bottom: 0;">unityagro@gmail.com</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center align-items-center rounded shadow-lg">
                    <div style="text-align: center; color: white;">
                        <a href="tel:01912497506" style="font-size: 30px; color: #11ef08;"><i class="las la-map-marker"></i></a>
                        <h5 >ADDRESS</h5>
                        <h6 class="mb-3" style="margin-bottom: 0;">nome/none/none/000</h6>
                    </div>
                </div>
            </div>

       </div>
  </div>
    
    <div class="container news pt-4 pb-4">
            <div class="row">
                <div class="col-12 py-4 rounded-4 " style="background:rgba(23,42,20,0.05)">
                    <div class="row align-items-center ">
                        <div class="col-md-3 col-lg-2 pr-md-0">
                            <div class="p-2 bg-primary text-white text-center breaking-caret">
                                <span class="font-weight-bold">News</span>
                            </div>
                        </div>
                        <div class="col-md-9 col-lg-10 pl-md-4 py-2">
                            <div class="breaking-box">
                                <div id="carouselbreaking" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        {% for single_news in news %}
                                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                <a href="{{ single_news.link }}">
                                                    <span class="position-relative mx-2 badge badge-primary rounded-0"
                                                        style="color: #36ef2c">{{ single_news.date }}</span>
                                                </a>
                                                <a class="text-white" href="{{ single_news.link }}">
                                                    {{ single_news.news_title }}
                                                </a>
                                            </div>
                                        {% endfor %}
                                        {% if news.count == 0 %}
                                            <p>No News available</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     <script>
        document.addEventListener('DOMContentLoaded', function () {
            var myCarousel = new bootstrap.Carousel(document.getElementById('carouselExampleCaptions'), {
                interval: 2000, // Adjust the interval as needed (in milliseconds)
                ride: 'carousel', // Enable auto slide
                pause: 'hover',   // Pause on hover
            });
        });
    </script>
{% endblock %}